/* menu */
#menu {
	height: 67px;
	width: 978px;
	padding: 0px;
	margin: 0 auto;
	background: none repeat scroll 0 0 #DBE7E7;
	border: 1px solid #CCCCCC;
	z-index: 20;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu > ul > li {
	position: relative;
	float: left;
	width: 20%;
	height: 67px;
	margin: 0;
	padding: 0px;
	text-align: left;
}
#menu > ul > li:hover {
	background-color: #bbe6f1;
}
#menu > ul > li > a /*#menu > ul > li > div > ul > li > a*/ {
	display: block;
	position: relative;
	margin: 10px -1px 10px 5px;
	color: #21798E;
	font-family: arial;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
}
#menu > ul > li:hover > a {
}
#menu > ul > li:nth-child(-n+4) > a {
	border: 0;
	border-right: 2px solid #21798E;
	border-image: url("/image/data/div-line.png") 2 2 2 0;
}
#menu > ul > li:first-child > a {
	padding: 16px 0px 16px 19px;
	background: url("/image/menu1.png") no-repeat scroll 120px 2px / 44px auto rgba(0, 0, 0, 0);
}
#menu > ul > li:nth-child(2) > a {
	padding: 8px 60px 8px 20px;
	background: url("/image/menu2.png") no-repeat scroll 123px 2px / 44px auto rgba(0, 0, 0, 0);
}
#menu > ul > li:nth-child(3) > a {
	padding: 16px 10px 16px 5px;
	background: url("/image/menu3.png") no-repeat scroll 133px 6px / 44px auto rgba(0, 0, 0, 0);
}
#menu > ul > li:nth-child(4) > a {
	padding: 8px 20px 8px 10px;
	background: url("/image/menu4.png") no-repeat scroll 125px 1px / 44px auto rgba(0, 0, 0, 0);
}
#menu > ul > li:last-child > a {
	padding: 16px 0px 16px 19px;
	background: url("/image/menu5.png") no-repeat scroll 136px 1px / auto 45px rgba(0, 0, 0, 0);
}

/* Level 2 */
#menu > ul > li > div {
	display: none;
	position: absolute;
	top: 67px;
	left: -1px;
	width: 194px;
	height: auto;
	background: none repeat scroll 0 0 #DBE7E7;
	border: 1px solid #cacaca;
	z-index: 5;
}
#menu > ul > li:hover > div, #menu > ul > li:hover > div > ul > li:hover > div {
	display: table;
}
#menu > ul > li > div > ul, #menu > ul > li > div > ul > li > div > ul {
	display: table-cell;
}
#menu > ul > li ul + ul, #menu > ul > li ul > li ul + ul {
	padding-left: 20px;
}
#menu > ul > li ul > li {
	height: 36px;
	background: none repeat scroll 0 0 #DBE7E7;
	border-bottom: 1px solid #cacaca;
}
#menu > ul > li ul > li:hover {
	/* [disabled]background: #bbe6f1 url("/image/data/arrow.png") no-repeat 170px 13px; */
}
#menu > ul > li ul > li > a, #menu > ul > li ul > li ul > li > a {
	text-decoration: none;
	padding: 10px;
	color: #21798E;
	display: block;
	white-space: nowrap;
	min-width: 120px;
}
#menu > ul > li ul > li > a:hover {
	background: url("/image/data/arrow.png") no-repeat 170px 13px;
	background-color: #bbe6f1 ;
	border-bottom: 1px solid #CACACA;
}
#menu > ul > li > div > ul > li > a, #menu > ul > li > div > ul > li > div > ul > li > a {
	color: #21798E;
}
/* Level 3 */
#menu > ul > li > div > ul > li:hover {
}
#menu > ul > li > div > ul > li > div {
	position: absolute;
	display: none;
	margin-left: 194px;
	margin-top: -38px;
	border: 1px solid #cacaca;
	z-index: 5;
}
#menu > ul > li > div > ul > li > div > ul > li > a:hover {
	background-image: none;
}